
Fitness Challenge/.vs/Fitness Challenge/v16/.suo
Fitness Challenge/.vs/Fitness Challenge/v16/Server/sqlite3/db.lock
Fitness Challenge/.vs/Fitness Challenge/v16/Server/sqlite3/storage.ide
Fitness Challenge/.vs/Fitness Challenge/v16/Server/sqlite3/storage.ide-shm
Fitness Challenge/.vs/Fitness Challenge/v16/Server/sqlite3/storage.ide-wal
Fitness Challenge/Fitness Challenge/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Fitness Challenge/Fitness Challenge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.vbproj.CoreCompileInputs.cache
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.vbprojAssemblyReference.cache
Fitness Challenge/Fitness Challenge/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Fitness Challenge/Fitness Challenge/bin/Debug/Fitness Challenge.exe
Fitness Challenge/Fitness Challenge/bin/Debug/Fitness Challenge.exe.config
Fitness Challenge/Fitness Challenge/bin/Debug/Fitness Challenge.pdb
Fitness Challenge/Fitness Challenge/bin/Debug/Fitness Challenge.xml
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.exe
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.pdb
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.vbproj.FileListAbsolute.txt
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.vbproj.GenerateResource.cache
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness Challenge.xml
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness_Challenge.frmFitness.resources
Fitness Challenge/Fitness Challenge/obj/Debug/Fitness_Challenge.Resources.resources
Most Rainfall in the USA/.vs/Most Rainfall in the USA/v16/.suo
Most Rainfall in the USA/.vs/Most Rainfall in the USA/v16/Server/sqlite3/db.lock
Most Rainfall in the USA/.vs/Most Rainfall in the USA/v16/Server/sqlite3/storage.ide
Most Rainfall in the USA/.vs/Most Rainfall in the USA/v16/Server/sqlite3/storage.ide-shm
Most Rainfall in the USA/.vs/Most Rainfall in the USA/v16/Server/sqlite3/storage.ide-wal
Most Rainfall in the USA/Most Rainfall in the USA/bin/Debug/Most Rainfall in the USA.exe
Most Rainfall in the USA/Most Rainfall in the USA/bin/Debug/Most Rainfall in the USA.exe.config
Most Rainfall in the USA/Most Rainfall in the USA/bin/Debug/Most Rainfall in the USA.pdb
Most Rainfall in the USA/Most Rainfall in the USA/bin/Debug/Most Rainfall in the USA.xml
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.exe
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.pdb
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.vbproj.CoreCompileInputs.cache
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.vbproj.FileListAbsolute.txt
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.vbproj.GenerateResource.cache
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.vbprojAssemblyReference.cache
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most Rainfall in the USA.xml
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most_Rainfall_in_the_USA.frmRainfall.resources
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/Most_Rainfall_in_the_USA.Resources.resources
Most Rainfall in the USA/Most Rainfall in the USA/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Softball Scoreboard/.vs/Softball Scoreboard/v16/.suo
Softball Scoreboard/.vs/Softball Scoreboard/v16/Server/sqlite3/db.lock
Softball Scoreboard/.vs/Softball Scoreboard/v16/Server/sqlite3/storage.ide
Softball Scoreboard/.vs/Softball Scoreboard/v16/Server/sqlite3/storage.ide-shm
Softball Scoreboard/.vs/Softball Scoreboard/v16/Server/sqlite3/storage.ide-wal
Softball Scoreboard/Softball Scoreboard/bin/Debug/Softball Scoreboard.exe
Softball Scoreboard/Softball Scoreboard/bin/Debug/Softball Scoreboard.exe.config
Softball Scoreboard/Softball Scoreboard/bin/Debug/Softball Scoreboard.pdb
Softball Scoreboard/Softball Scoreboard/bin/Debug/Softball Scoreboard.xml
Softball Scoreboard/Softball Scoreboard/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Softball Scoreboard/Softball Scoreboard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.exe
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.pdb
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.vbproj.CoreCompileInputs.cache
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.vbproj.FileListAbsolute.txt
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.vbproj.GenerateResource.cache
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.vbprojAssemblyReference.cache
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball Scoreboard.xml
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball_Scoreboard.frmSoftball.resources
Softball Scoreboard/Softball Scoreboard/obj/Debug/Softball_Scoreboard.Resources.resources
Softball Scoreboard/Softball Scoreboard/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
Factorial Calculator/.vs/Factorial Calculator/v16/.suo
Factorial Calculator/.vs/Factorial Calculator/v16/Server/sqlite3/db.lock
Factorial Calculator/.vs/Factorial Calculator/v16/Server/sqlite3/storage.ide
Factorial Calculator/.vs/Factorial Calculator/v16/Server/sqlite3/storage.ide-shm
Factorial Calculator/.vs/Factorial Calculator/v16/Server/sqlite3/storage.ide-wal
Factorial Calculator/Factorial Calculator/bin/Debug/Factorial Calculator.exe.config
Factorial Calculator/Factorial Calculator/bin/Debug/Factorial Calculator.exe
Factorial Calculator/Factorial Calculator/bin/Debug/Factorial Calculator.pdb
Factorial Calculator/Factorial Calculator/bin/Debug/Factorial Calculator.xml
Factorial Calculator/Factorial Calculator/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Factorial Calculator/Factorial Calculator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.exe
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.pdb
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.vbproj.CoreCompileInputs.cache
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.vbproj.FileListAbsolute.txt
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.vbproj.GenerateResource.cache
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.vbprojAssemblyReference.cache
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial Calculator.xml
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial_Calculator.frmFactorial.resources
Factorial Calculator/Factorial Calculator/obj/Debug/Factorial_Calculator.Resources.resources
Factorial Calculator/Factorial Calculator/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
